# force GitHub to treat all .jsx files as JavaScript
*.jsx linguist-language=JavaScript
*.jsx linguist-vendored=false
*.jsx linguist-generated=false

# ignore G-code in language statistics
*.gcode linguist-detectable=false
*.g linguist-detectable=false
*.nc linguist-detectable=false