# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# PyCharm project settings
.idea/

.frontend/node_modules/

.DS_Store

./backend/temp/

./backend/test/

.oxlintrc.json